<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Crie sua conta ou acesse</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
    
      <%- include('includes/messages'); %>
    
      <div class="row">
        <div class="col-lg">
          <h4>Faça seu cadastro</h4>
          <p>Preencha os formulários para cadastro</p>
          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label for="email-register">Endereço de Email</label>
              <input type="email" class="form-control" id="email-register" name="email" aria-describedby="emailHelp" required>
               </div>
            <div class="form-group">
              <label for="password-register">Sua senha</label>
              <input type="password" class="form-control" id="password-register" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Criar Conta</button>
          </form>
        </div>

        <div class="col-lg">
          <h4>Acessar</h4>
          <p>Faça seu login abaixo</p>
          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
              <label for="email-login">Endereço de Email</label>
              <input type="email" class="form-control" id="email-login" name="email" aria-describedby="emailHelpLogin" required>
            </div>
            <div class="form-group">
              <label for="password-login">Sua senha</label>
              <input type="password" class="form-control" id="password-login" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar na Conta</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>
